build
log
.idea
__pycache__
*.extracted
*.pyc
pause.yaml
*.html
extract_tmp
*.swp
.pytest_cache
.coverage
*.tar.xz
.bash_history
.binwalk/
.cache/
.gitconfig
.python_history
.analyses.csv
.project
*.dtb
