<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>See What We Have Done</title>
</head>
<body>

<h1>analyses summary</h1>
<table border="1" cellpadding="10">
    {% for firmware in emulation %}<tr>
        <th>{{ firmware.uuid }}</th>
        <th>{{ firmware.dt }}</th>
        <th>{{ firmware.cpu }}</th>
        <th>{{ firmware.ram }}</th>
    </tr>{% endfor %}
</table>

</body>
</html>